sim_build/
results.xml
*.vcd
*.fst
*.vvp
__pycache__/
*.pyc
.venv/
obj_dir/
runs/
*.log
flow/**/runs/
resources/datasets/*
resources/datasets/*
matlab/*.mat
sim/
tb/cocotb/lut_*.hex
tb/cocotb/sim_build*/
tb/cocotb/results.xml
tb/cocotb/dump.vcd
flow/librelane/*/runs/
fw/firmware.elf
fw/firmware.bin
fw/firmware.hex
fw/firmware.map
